
.container{
  margin-top: 50px;
}
.my-btn{
  border: 1px solid #85A0FF;
  font-size: 1.5em;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #85A0FF;
}
a:hover{
 background-color: #85A0FF;
 color: white;
}
.row{
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: auto;
  align-content: center;
}

.buttons{
 vertical-align: middle;
 text-align: center;
}

