<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
</head>
<body>
  <h1>Realted Courses</h1>
  <div class="owl-carousel owl-theme">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/data_science.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/java.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/jquery.png" class="card-img-top" alt="...">
      <div class="card-body"><p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/Machine_Learn.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/python.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/data_science.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/java.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A complete two week course on Data Science</p>
        <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</body>




<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
</html>
