.card
{
    min-height: 100px;
    min-width: 2rem;
    text-align: center;
    margin-left: 130px;
    margin-right: 100px;
}
img
{
   height: 153px; 
   min-width: 50px;   
   padding-left: 65px;
   padding-right: 65px;
   padding-top: 10px;
   
}