<div class="row">
  <div class="col-md-12">
    <div class="card-deck">
        <div class="card shadow-lg rounded col-md-3 border-white">
          <img class="card-img-top" src="clock.png">
              <div class="card-body">
                  <h5 class="card-title">5(to be updated)</h5>
                  <h3>
                      <p class="card-text"><b>Courses Enrolled</b></p>

                  </h3>

                  
             </div>
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample mb-2 ml-4">
               View Courses
            </button>
          </p> 
        </div>
        <div class="card border-white shadow-lg rounded ml-5  col-md-3">
            <img class="card-img-top" src="graduate.png">
                <div class="card-body">
                    <h5 class="card-title">5(to be updated)</h5>
                    <h3>
                        <p class="card-text"><b>Completed courses</b></p>
                    </h3>
                    
               </div>
            <p>
              <button class="btn btn-primary mb-2 ml-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                 View Courses
              </button>
            </p>
          </div>
    <div class="card border-white shadow-lg rounded col-md-3 ml-5">
      <img class="card-img-top" src="medal.png">
      <div class="card-body">
        <h5 class="card-title">5(to be updated)</h5>
        <h3>
         <p class="card-text"><b>Overdue Courses</b></p>
        </h3>
        

      </div>
      <p>
          <button class="btn btn-primary mb-2 ml-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
             View Courses
          </button>
        </p>
    </div>
  </div>


</div>

</div>

