.head
{
    padding-left: 35px;
    color: #44579a;
}
.card
{
    margin-left: 60px;
    
}
.o-course-two
{
    background: #106aa0;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.o-course-one
{
    display: flex;
}