h3{
  font-size: 2.2em;
}
.container{
  margin-top: 30px;
  text-align: center;
}
.bor-1{
  border-bottom: 1px solid black;
  width: 25%;
  margin: 0 auto;
  height: 10px;
}
i{
  margin-bottom: 20px;
  font-size: 50px !important;
  text-align: center;
  line-height: 1.5 !important;
  height: 80px;
  width: 80px;
}
.fa-mobile-alt{
  color: #F58312;
}
.fa-question-circle{
color :#DE4646;
}
.fa-paste{
  color: #F5ED12;
}
.fa-users{
  color: #264DB8;
}
.row{
  margin-top: 30px;
}
p{
  margin-top: 10px;
  font-family: verdana;
  font-size: 1.2em;
}
