<div class="loginpage">
<div class="section2" id="two"> 
   		
  <br>
  <h1 class="center">Sign-In With</h1>
  <br>

 <button class="bfacebook">
<a class="btn btn-block btn-social btn-facebook center">
<span class="fa fa-facebook"></span> Sign in with Facebook
</a></button>
<br><br>

<button class="bgoogle">
<a class="btn btn-block btn-social btn-google center">
<span class="fa fa-google"></span> Sign in with Google
</a></button>
<br> <br> <h2 class="heading-2">OR</h2>
<br>
  <form>
   
  
<div class="form-group">
<label for="exampleInputEmail1" class="label">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@example.com">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
<label for="exampleInputPassword1" class="label">Password</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>

<div class="form-group remme">
<div class="form-check">
<input class="form-check-input" type="checkbox" id="gridCheck1">
<label class="form-check-label" for="gridCheck">
Remember Me
</label>
</div>
</div>

<br><br>
<button type="submit" class="btn btn-primary">Sign-In</button>
<br><br>
<a href="#" class="forget">Forget Password?</a>
<br><br>
<a href="#" class="new">New Member?</a>

<br><br>

</form>

</div>





<div class="section1" id="one">


<br>
<h1 class="center">Sign Up</h1>
<br>
<form>
 <div class="form-group">
<label for="exampleInputName" class="label">Name</label>
<input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter your Name">
</div>
  <div class="form-group">
<label for="exampleInputEmail1" class="label">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
<label for="exampleSelect1" class="label">Gender</label>
<select class="form-control" id="exampleSelect1">
 <option>Male</option>
 <option>Female</option>
</select>
</div>
<label for="exampleInputFile" class="label">Date of Birth</label><br>
<form action="/action_page.php">
<input type="date" name="bday" class="dob">
</form>
<br>
<div class="form-group">
<label for="exampleInputNumber" class="label">Phone number</label>
<input type="number" class="form-control" id="exampleInputNumber" aria-describedby="numberHelp" placeholder="+91539853928">
</div>



<div class="form-group">
<label for="exampleInputFile" class="label">Picture</label>
<div class="picture" style="text-align: center;">
<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
</div>
</div>

<div class="form-group">
<label for="exampleInputName" class="label">Username</label>
<input type="Username" class="form-control" id="exampleInputName2" aria-describedby="nameHelp" placeholder="Username">
</div>

<div class="form-group">
<label for="exampleInputPassword1" class="label">Password</label>
<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
</div>
<div class="form-group">
<div class="form-check">
<input class="form-check-input" type="checkbox" id="gridCheck">
<label class="form-check-label" for="gridCheck">
Agree to terms and conditions
</label>
</div>
</div>
<button type="submit" class="btn btn-primary">Register</button>
<br><br>
<a href="#" class="new">Already a Member?</a>
<br><br>
</form>


</div>
</div>
