.loginpage {
    background-color: #44579a;
}
.label {
  font-weight: bold;
}
#two {
  text-align: center;
}
.btn-block {
  width: 380px;
}
#one {
  text-align: center;
}
.form-group {
    padding-right: 20px;
    padding-left: 20px;
    width: 560px;
  }
  .forget {
    text-align: center;
    text-decoration: underline;
   

  }
  .remme{
  float: left;
  }
    .section1 {
      width: 550px;
      height: 960px;
      background-color: #EDF5E1;
      margin-top: 50px;
      margin-bottom: 50px;
      float: right;
      margin-right: 133px;
      

    }
    .section2 {
      width: 550px;
      height: 960px;
      background-color: #EDF5E1;
        margin-top: 50px;
        margin-bottom: 50px;
        float: left;
        margin-left: 132px;
               }
    #one {
      color: black;
      
    }


    .input-group-text 
    {
     height: 34px;
     font-size: 14px;

    }
    .form-check-label
    {
    padding-left: 2px;

    }
    .new
    {
   
     text-decoration: underline;
    }
    .forget {
      text-decoration-line: none;
      color: black;
    }
    .bgoogle {
      background-color: #DD4B39;
      color: white;
    }
    .bfacebook {
      background-color: #3B5998;
      color: white;
    }
    .picture {
      align-content: center;
    }
    .body {
    background-color: #44579a;
    color: black;
           }
    .dob {
      width: 510px;
      height: 35px;
      border-top-right-radius: none;
    }