<div class="head">
    <h1>
        Completed Courses
      </h1>
</div>
<br>
<div class="card rounded pt-4 pb-4 pl-4 pr-4 ml-4 mr-4">
    <div class="card-body col-md-12 c-courses row">
      <div class="col-md-8">
          Name of course
      </div>
      <div class="col-md-2">
            <button type="button" class="btn btn-light shadow-sm rounded">View Certificate</button>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-light shadow-sm rounded">Download Certificate</button>
    </div>
    </div>
</div>  
<br><br>
   
     
