.course_head{
    margin-bottom: 20px;
}
span{
    color: chocolate;
    font-size: 1.6rem;
}
.course_data{
    display: inline-flex;
    margin-bottom: 15px;
}
.course_img{
    width: 45%;
    height: 25%;
}
.but{
    padding: 80px 20px 80px 20px;
    justify-content: space-between;
    
}
button{
   margin-bottom:16px;
   padding: 6px 6px 6px 6px;
   width: 260px;
   height: 50px;
   border-radius: .6em;
}
.but_list{
   list-style:none;
   padding-left: 40px;
   padding-right: 40px;
   margin-bottom: 0px;
}
.course_point{
    padding: 30px 20px 20px 20px;
    background-color: burlywood;
    border-radius: .8rem;
}
li{
    list-style: none;
    display: inline-flex;
    font-size: 1.4rem;
}