<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="new">
  <div>
    <span>Reviews about the course:</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cum neque molestias magnam sunt. Doloremque sequi laudantium impedit, nemo eum beatae! Quo quaerat assumenda distinctio tenetur commodi quidem consequatur ducimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quaerat corporis sapiente possimus qui magni voluptatem sint ipsam, doloribus maiores explicabo earum praesentium consequatur in atque quasi odit incidunt expedita.</p>
  </div>
  <div class="d-flex">
    <div>
      <img class="img" src="../../../assets/images/instructor">
    </div>
    <div>
      <span>About the Instructor:</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est magni tempora eaque ratione amet cupiditate quos odit deserunt, aut natus architecto facere illum laboriosam, reiciendis enim quis earum aspernatur pariatur.</p>
    </div>
  </div>
  <div>
    <span>Rating of the course:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
  </div>
</div>
</body>
</html>
