.container{
  margin-top: 80px;
  align-items: center;
  text-align: center;
}
.head{
  margin-bottom: 60px;
  font-size: 3em;
}
.margin{
  padding-top: 50px;
}
.row{
  margin-top: 15px;
  margin-bottom: 15px;
}
