<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div class="container">
  <h1 class="display-4 head">Trending Categories</h1>


  <div class="row d-inline-flex  text-center">
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
  </div>
  <div class="row d-inline-flex  text-center">
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category ></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-6">
      <h-category></h-category>
    </div>
  </div>



</div>
