  <div class="container-fluid banner">
    <div class="row">
        <div class="col quote-div">
            <h2 class="display-4 quote text-center">
              Work hard than you think you did <br><span>Yesterday </span>
            </h2>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 button-div">
          <a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a>
          <a href="#" class="btn btn-sm animated-button victoria-two">Login</a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6"></div>
    </div>
  </div>

