<div class="main">
    <div class="head">
        <h1 >
            Welcome ! To Your Online Assistant  
        </h1>
      </div>
      <div class="search">
          <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Add Courses...." aria-label="Search">
                </form>
        </div>
</div>
<br><br>
<app-ud-cards></app-ud-cards>
<br><br>
<app-ud-completed-courses></app-ud-completed-courses>

<app-ud-overdue-courses></app-ud-overdue-courses>
<div class="row">
  
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Name of Course 2</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="info" value="50">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Name of Course 3</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="info" value="50">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  </div>
  <br><br>
  <app-ud-quizes></app-ud-quizes>
  <br>
  
  