<html>
<head>
  <link href="courses-availed.component.scss">
</head>
<body>
<div class="availed_courses">
  <h5>Availed Courses Details</h5>
  <ul>
    <li><img src="../../../assets/images/Machine_Learn.png">&nbsp;Machine Learning with Python</li><br>
    <li><img src="../../../assets/images/jquery.png">&nbsp;Machine Learning with R</li><br>
    <li><img src="../../../assets/images/data_science.jpg">&nbsp;Data Science with R</li><br>
    <li><img src="../../../assets/images/java.png">&nbsp;Big Data</li><br>
    <li><img src="../../../assets/images/python.png">&nbsp;Python</li><br>
  </ul>
</div>
</body>
</html>
