.availed_courses{
    padding: 30px 20px 20px 20px;
    background-color: burlywood;
    border-radius: .8rem;
    height: 760px;
}
h5{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}
li{
    list-style: none;
}
img{
    width: 25%;
    height: 25%;
}